* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.top-pad {
  position: absolute;
  width: 100%;
  height: 96px;
  z-index: 99;
  background-color: #1E1E20;
  border-bottom: 3px solid #374140;
}

h1 {
  padding-left: 21px;
  font-size: 1.5em;
  font-family: 'Open Sans', serif;
  line-height: 55px;
  font-weight: 100;
  letter-spacing: 2px;
  vertical-align: middle;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #b2ddff;
}

#ruler{
  width: 19px;
  height: 19px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0px;
}

#ruler-div {
  width: 35px;
  height: 35px;
  padding: 0px;
  border-right: 1px dashed #374140;
}

#ruler-div:hover{
  background-color: #374140 !important;
  transition: 0.3s;
}

.text-div {
  width: auto;
  height: 35px;
  padding: 0px 10px;
}

.input-div {
  height: 35px;
  width: 40px;
  margin: 0;
  padding: 0;
}

#snapping-tool {
  cursor: default;
  text-align: center;
  position: fixed;
  z-index: 100;
  right: 144px;
  top: 109px;
  height: 35px;
  width: 35px;
  background-color: #1E1E20;
  box-shadow: 0 0 0 3px #374140 inset;
  vertical-align: middle;
}

#snap {
  width: 17px;
  height: 17px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0px;
  margin-top: 25%;
}

.ol-control {
  background-color: transparent !important;
  padding: 0px !important;
}

.ol-zoom {
  position: fixed !important;
  display: flex !important;
  left: unset;
  right: 54px;
  top: 108px !important;
}

.ol-zoom-in, .ol-zoom-out {
  box-shadow: 0 0 0 3px #374140 inset;
  width: 35px !important;
  height: 35px !important;
  border-radius: 0% !important;
}

.ol-zoom-in:focus, .ol-zoom-out:focus {
  background-color: #1E1E20 !important;
  transition: 0.3s;
}

.ol-zoom-in:hover, .ol-zoom-out:hover {
  background-color: #374140 !important;
  transition: 0.3s;
}

.ol-control button {
  background-color: #1E1E20;
}

.ol-zoom-in {
  margin-right: 9px !important;
}
.measure-tool {
  position: fixed;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  z-index: 999;
  top: 109px;
  right: 190px;
  height: 35px;
  text-align: center;
  background-color: #1E1E20;
  box-shadow: 0 0 0 3px #374140 inset;
  display: inline-table;
}

input[type=text] {
  text-align: center;
  height: 35px;
  font-size: .8em;
  font-family: 'Open Sans', serif;
  background-color: #374140;
  border: none;
  margin: 0;
  padding: 0px 10px;
  color: transparent;
  text-shadow: 0 0 0 white;
  &:focus {
      outline: none;
  }
}

#layer-switch {
  position: fixed;
  z-index: 999;
  top: 109px;
  left: 10px;
  width: 150px;
  text-align: left;
  background-color: #1E1E20;
  border: 3px solid #374140;
}

#layer-switch p {
  padding-left: 10px;
}

hr {
  border: 0;
  border-bottom: 1px dashed #374140;
  background: #1E1E20;
}

/*
.checkbox {
  margin: 5px;
  padding: 5px 0px 5px 5px;
  font-size: 0.8em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 15px;
  background-color: #1E1E20;
  border: 2px solid white;
  border-radius: 100%;
}

input[type=checkbox]:checked+label:before {
  text-align: center;
  line-height: 15px;
}
*/

label {
  font-size: .8em
}

#information {
  cursor: default;
  text-align: center;
  position: fixed;
  z-index: 100;
  right: 10px;
  top: 109px;
  height: 35px;
  width: 35px;
  background-color: #1E1E20;
  box-shadow: 0 0 0 3px #374140 inset;
}

#information p {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0px;
  margin-top: 25%;
}

#info {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0px;
  margin-top: 25%;
}

#information:hover, #snapping-tool:hover, #layers-button:hover {
  background-color: #374140 !important;
  transition: 0.3s;
}

#tooltip {
  display: none;
  position: fixed;
  z-index: 101;
  right: 10px;
  top: 154px;
  background-color: #1E1E20;
  box-shadow: 0 0 0 3px #374140 inset;
  padding: 0px 10px 0px 10px;
  text-align: justify;
  font-size: 0.8em;
  width: 250px;
}

#layers {
  display: none;
  position: fixed;
  z-index: 101;
  left: 10px;
  top: 154px;
  background-color: #1E1E20;
  box-shadow: 0 0 0 3px #374140 inset;
  padding: 0px 15px 10px 10px;
  text-align: justify;
  font-size: 0.8em;
  width: 180px;
}

.layers-container{
  table-layout:fixed;
  width:100%;
  padding: 0px;
  margin: 0px;
}

.layer-checkbox{
    box-shadow: 0 0 0 3px #374140 inset;
}

.layer-checkbox.checked {
    background-color: #485251;
}

.layer-checkbox.unchecked {
    background-color: #1E1E20;
}

.layers-container tr{
  line-height: 16px;
  padding: 0px;
  margin: 0px;
}

.layers-container tr .layer-checkbox{
  column-width: 20px;
}

.layers-container tr .clean-layer{
  column-width: 20px;
}

td svg{
}

.layer-text{
  text-align: left;
  padding-left: 10px;
}

#layers-button {
  cursor: default;
  text-align: center;
  position: fixed;
  z-index: 100;
  left: 10px;
  top: 109px;
  height: 35px;
  width: 35px;
  background-color: #1E1E20;
  box-shadow: 0 0 0 3px #374140 inset;
}

#layers-button img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0px;
  margin-top: 25%;
}

td svg g polygon:hover {
  fill: #FF0000;
  transition: 0.3s;
}

table {
  table-layout:fixed;
  margin: auto;
  text-align: center;
  border: collapse;
  font-size: 1em;
}

th {
  text-shadow: 0px 1px 1px #1E1E20;
}

td, th {
  width: 100px;
  padding: 2px;
}

.ol-attribution {
  right: 10px !important;
  bottom: 10px !important;
}

#mouse-position {
  position: fixed;
  z-index: 101;
  left: 10px;
  bottom: 10px;
  background-color: #1E1E20;
  box-shadow: 0 0 0 3px #374140 inset;
  padding: 0px 10px 0px 10px;
  text-align: justify;
  vertical-align: middle;
  font-size: 0.8em;
  width: 250px;
  height: 35px;
}

#mouse-position p {
  font-size: 10px;
}
